<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <!-- Disk space warning threshold in percent (default: 10) -->
        <add key="DiskSpaceThresholdPercent" value="10" />
    </appSettings>
</configuration>